{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{ group.title }}</h1>
    <p>
      {{ group.description|linebreaksbr }}
    </p>
    <article>
      {% for post in page_obj %}
        <h3>
          Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
          Дата публикации: {{ post.pub_date|date:"d M Y" }}
        </h3>
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>
          {{ post.text|linebreaksbr }}
        </p>
      {% endfor %}
    </article>
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
